html {
  height: 100%; }

body {
  height: 100%;
  display: none;
  overflow: hidden; }

.icon {
  color: #111; }
  @media screen and (min-width: 480px) {
    .icon {
      font-size: 75px; } }
  @media screen and (max-width: 480px) {
    .icon {
      font-size: 45px; } }
  .icon:hover {
    color: grey; }

.social-icon {
  font-size: 50px;
  color: #111;
  padding-right: 10px; }
  .social-icon:hover {
    color: grey;
    text-decoration: none; }

.menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  transition-duration: 500ms; }

.contact {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: hidden;
  text-align: center;
  transition-duration: 500ms;
  -webkit-transform: translate3d(0, 150%, 0);
  -moz-transform: translate3d(0, 150%, 0);
  -ms-transform: translate3d(0, 150%, 0);
  -o-transfrom: translate3d(0, 150%, 0);
  transform: translate3d(0, 150%, 0);
  -webkit-transfrom-style: preserve-3d; }

.work {
  position: absolute;
  top: 0;
  display: hidden;
  overflow-y: visible;
  transition-duration: 500ms;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transfrom: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transfrom-style: preserve-3d;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s; }
  .work .column {
    height: 100%; }
  .work .work-row {
    padding-top: 5%; }
  .work h2 {
    text-align: center;
    padding-top: 10px; }
  .work h3 {
    display: inline; }
  .work h4 {
    margin-top: 5px;
    margin-bottom: 0;
    display: inline;
    float: right; }

#first {
  padding-top: 10px; }

#last {
  padding-bottom: 100px; }

.cv {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: absolute;
  transition-duration: 500ms;
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  -o-transfrom: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  -webkit-transfrom-style: preserve-3d;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s; }
  .cv .cv-me {
    text-align: center; }

.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%; }

.toggle {
  width: 150px;
  height: 150px;
  margin: auto;
  display: block;
  position: fixed;
  background: #111;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  transform: rotate(45deg);
  transition-duration: 500ms; }
  .toggle a {
    width: 150px;
    height: 150px;
    margin: auto;
    display: block;
    position: absolute;
    font-family: Dosis, sans-serif;
    font-weight: 200;
    font-size: 35px;
    text-align: center;
    line-height: 150px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    transform: rotate(-45deg);
    text-decoration: none;
    color: white;
    opacity: 0;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s; }
    .toggle a:hover {
      opacity: 1; }

#up {
  top: -230px;
  right: 0;
  bottom: 0;
  left: 0; }

#right {
  top: 0;
  right: -230px;
  bottom: 0;
  left: 0; }

#down {
  top: 0;
  right: 0;
  bottom: -230px;
  left: 0; }

#left {
  top: 0;
  right: 0;
  bottom: 0;
  left: -230px; }

#left-text {
  font-size: 150px; }

.email {
  height: 40vh; }

.envelope-top {
  position: absolute;
  top: 20%;
  left: 50%;
  margin-left: -80px;
  border-top: 45px solid black;
  border-right: 80px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 80px solid transparent; }

.envelope-bottom {
  position: absolute;
  top: 20%;
  left: 50%;
  margin-left: -85px;
  border-top: 50px solid transparent;
  border-right: 85px solid black;
  border-bottom: 50px solid black;
  border-left: 85px solid black; }

#return-down {
  text-align: center; }

#return-left {
  position: fixed;
  top: 30%; }

#return-up {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5vh; }

.button {
  background: white;
  border: 2px solid black; }
  .button:hover {
    color: grey;
    border: 2px solid grey; }

textarea {
  resize: none; }

/*# sourceMappingURL=index.css.map */
