
$menu-len: 150px;
$menu-len-min: 100px;
$pos: 230px;
$pos-min: 160px;
$font-stack: Dosis, sans-serif;
$font-weight: 200;
$font-size: 35px;
$font-size-min: 25px;
//orange, might want to play around
$site-color: #E47A43;
$phone: "(max-width: 480px)";
$desktop: "(min-width: 480px)";

@mixin square($len, $min-len) {
  @media screen and #{$desktop} {
    width: $len;
    height: $len;
  }

  @media screen and #{$phone} {
    width: $min-len;
    height: $min-len;
  }
}

@mixin diamond($len, $min-len) {
  @include square($len, $min-len);
  margin: auto;
  display: block;
  position: fixed;
  background: #111;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  transform: rotate(45deg);
}

@mixin backToSquare() {
  width: 0;
  height: 0;
  background: transparent;
  transform: rotate(0deg);
}

@mixin menu-font($font, $len, $len-min) {
  @media screen and #{$desktop} {
    width: $len;
    height: $len;
    font-size: $font-size;
    line-height: $len;
  }

  @media screen and #{$phone} {
    width: $len-min;
    height: $len-min;
    font-size: $font-size-min;
    line-height: $len-min;
  }
  margin: auto;
  display: block;
  position: absolute;
  font-family: $font;
  font-weight: $font-weight;
  text-align: center;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  transform: rotate(-45deg);
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: none;
  overflow: hidden;
}

.icon {
  @media screen and #{$desktop} {
    font-size: 75px;
  }

  @media screen and #{$phone} {
    font-size: 45px;
  }
  color: #111;
  &:hover {
    color: grey;
  }
}

.social-icon {
  font-size: 50px;
  color: #111;
  padding-right: 10px;
  &:hover {
    color: grey;
    text-decoration: none;
  }
}

.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  transition-duration: 500ms;
}

.contact {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: hidden;
  text-align: center;
  transition-duration: 500ms;
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  -o-transfrom: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  -webkit-transfrom-style: preserve-3d;
}

.work {
  //position: absolute;
  top: 0;
  display: hidden;
  transition-duration: 500ms;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transfrom: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transfrom-style: preserve-3d;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;

  .column {
    height: 100vh;
  }

  .work-row {
    padding-top: 5%;
  }

  h2 {
    text-align: center;
    padding-top: 10px;
  }

  h3 {
    display: inline;
  }

  h4 {
    margin-top: 5px;
    margin-bottom: 0;
    @media screen and #{$desktop} {
      display: inline;
      float: right;
    }
  }
}

#first {
  padding-top: 10px;
}

#last {
  padding-bottom: 100px;
}

.cv {
  position: absolute;
  width: 100%;
  height: 100%;
  display: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  transition-duration: 500ms;
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  -o-transfrom: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  -webkit-transfrom-style: preserve-3d;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;

  .col-sm-8 p {
    //padding-left: 10px;
  }

  .cv-me {
    text-align: center;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: white;
}

.toggle {
  @include diamond($menu-len, $menu-len-min);
  transition-duration: 500ms;

  a {
    @include square($menu-len-min, $menu-len-min);
    @include menu-font($font-stack, $menu-len, $menu-len-min);
    text-decoration: none;
    color: white;
    opacity: 0;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
  }
}

.hover:hover {
  opacity: 1;
}

#up {
  @media screen and #{$desktop} {
    top: -$pos;
  }

  @media screen and #{$phone} {
    top: -$pos-min;
  }

  right: 0;
  bottom: 0;
  left: 0;
}

#right {
  @media screen and #{$desktop} {
    right: -$pos;
  }

  @media screen and #{$phone} {
    right: -$pos-min;
  }
  top: 0;
  bottom: 0;
  left: 0;
}

#down {
  @media screen and #{$desktop} {
    bottom: -$pos;
  }

  @media screen and #{$phone} {
    bottom: -$pos-min;
  }
  top: 0;
  right: 0;
  left: 0;
}

#left {
  @media screen and #{$desktop} {
    left: -$pos;
  }

  @media screen and #{$phone} {
    left: -$pos-min;
  }
  top: 0;
  right: 0;
  bottom: 0;
}

#left-text {
  @media screen and #{$desktop} {
    font-size: 150px;
  }

  @media screen and #{$phone} {
    font-size: 100px;
  }
}

.email {
  height: 25vh;
}

.envelope-top {
  @media screen and #{$desktop} {
    margin-left: -80px;
    border-top: 45px solid black;
    border-right: 80px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 80px solid transparent;
  }

  @media screen and #{$phone} {
    margin-left: -60px;
    border-top: 30px solid black;
    border-right: 60px solid transparent;
    border-bottom: 35px solid transparent;
    border-left: 60px solid transparent;
  }
  position: absolute;
  top: 20%;
  left: 50%;

}

.envelope-bottom {
  @media screen and #{$desktop} {
    margin-left: -85px;
    border-top: 50px solid transparent;
    border-right: 85px solid black;
    border-bottom: 50px solid black;
    border-left: 85px solid black;
  }

  @media screen and #{$phone} {
    margin-left: -65px;
    border-top: 35px solid transparent;
    border-right: 65px solid black;
    border-bottom: 35px solid black;
    border-left: 65px solid black;
  }
  position: absolute;
  top: 20%;
  left: 50%;
}

#return-down {
  text-align: center;
}

#return-left {
  position: fixed;
  top: 45vh;
  @media screen and #{$phone} {
    left: 2px;
  }
}

#return-up {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 10vh;
}

.button {
  background: white;
  border: 2px solid black;

  &:hover {
    color: grey;
    border: 2px solid grey;
  }
}

textarea {
  resize: none;
}
