doctype html
html
  head
    title Darren Yin
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="IE-edge")
    meta(name="description", content="Darren's personal site")
    meta(name="keywords", content="")

    script(src="../js/jquery-3.2.1.min.js")
    script(src="../js/tether.min.js")
    script(src="../js/bootstrap.min.js")
    
    script(src="../js/index.js")

    link(rel="stylesheet", href="../css/bootstrap.min.css")
    link(rel="stylesheet", href="../css/index.css")
    link(rel="stylesheet", href="../css/icon.css")

  body
    div.menu
      label.toggle#up
        a#up-text Contact
      label.toggle#right
        a#right-text Works
      label.toggle#down
        a#down-text CV
      label.toggle#left
        a.icon-dy#left-text
    
    div.contact
      div.email
        label.envelope-top
        label.envelope-bottom
      div.container-fluid
        div.row
          div.col-md-3
          div.col-md-6
            h2 Contact Me
            form(action="mailto:darren@darreny.com", method="post", enctype="text/plain")
              div.form-group
                input.form-control(type="text", name="name", placeholder="Your Name")
              div.form-group
                input.form-control(type="text", name="email", placeholder="Your Email")
              div.form-group
                textarea.form-control(rows="4", name="message", placeholder="Your Message")
          div.col-md-3
      div.footer
        i.icon.icon-diamond-down-arrow#return-down
      
    div.works
      div.container-fluid
        div.row
          div.column.col-md-1
            i.icon.icon-diamond-left-arrow#return-left
          div.column.col-md-10
            div.row.work-row
              div.col-md-4
                p project 1
              div.col-md-4
                p project 2
              div.col-md-4
                p project 3
          div.column.col-md-1
        
    div.cv
      div.container-fluid
        div.row
          div.col-md-1
          div.col-md-10#return-up
            i.icon.icon-diamond-up-arrow
          div.col-md-1
        div.row
          div.col-sm-1
          div.col-sm-10
            div.col-sm-3
              h2 Darren Yin
              p #[strong Software Engineer]
              a.social-icon.icon-linkedin(href="https://www.linkedin.com/in/darrenyin/")
              a.social-icon.icon-github(href="https://github.com/chongor")
            div.col-sm-7
              h3 Nice ta meetcha!
              p I'm a California native who writes code and dabbles in digital design.
              h3 Education
              p M.S.E. in Software Engineering - Carnegie Mellon University, 2017
              p B.S.E. in Computer Science - University of Pennsylvania, 2016
              h3 Work Experience
              p #[strong Wayfair] - Software Engineering Intern, 2015
              p #[strong TutorIT Web] - Software Engineering Intern, 2014
              p #[strong Hearhere] - Web Developer, 2013-2014
              h3 Skills
              p Python
              p Java
              p Javascript
              p C/C++
          div.col-md-1
